page-home {

    h4,h5 {
        margin: 5px;
        padding: 5px;
        padding-bottom: 1px;
    }

    p {
        padding-left: 10px;
        color: #0F1E33
        

    }

    blockquote {
        border-left: 7px solid #b83131;
        background: #ebebeb;
        margin: 1.5em 25px;
        padding: 1px 10px;
    }
    body, span, h1, h2, h3, h4, h5, h6, .coptic  {
        font-family: 'STACoptic' !important
    }

}
