// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.background {
    background: url('../assets/imgs/circles-light.png') no-repeat fixed center;
    background-size: cover;
  }

  .blockquote {
    border-left: 7px solid #b83131;
    background: #ebebeb;
    margin: 1.5em 25px;
    padding: 1px 10px;
}
  @font-face {
    font-family: Coptic;
    src: url('../assets/fonts/coptic.ttf')
  }
  @font-face {
    font-family: STACoptic;
    src: url('../assets/fonts/FreeSerifAthanasius.ttf')
  }
  
// Coptic Language Characters
  .fa-alpha-lower:before {
    content: 'ⲁ';
  }

  .fa-alpha-upper:before {
    content: 'Ⲁ';
  }

  .fa-beta-lower:before {
    content: 'ⲃ';
  }

  .fa-beta-upper:before {
    content: 'Ⲃ';
  }

  .fa-gamma-lower:before {
    content: 'ⲅ';
  }

  .fa-gamma-upper:before {
    content: 'Ⲅ';
  }

  .fa-delta-lower:before {
    content: 'ⲇ';
  }

  .fa-delta-upper:before {
    content: 'Ⲇ';
  }

  .fa-ei-lower:before {
    content: 'ⲉ';
  }

  .fa-ei-upper:before {
    content: 'Ⲉ';
  }

  .fa-so-lower:before {
    content: 'ⲋ';
  }

  .fa-so-upper:before {
    content: 'ⲋ';
  }

  .fa-zeta-lower:before {
    content: 'ⲍ';
  }

  .fa-zeta-upper:before {
    content: 'Ⲍ';
  }

  .fa-eta-lower:before {
    content: 'ⲏ';
  }

  .fa-eta-upper:before {
    content: 'Ⲏ';
  }

  .fa-theta-lower:before {
    content: 'ⲑ';
  }

  .fa-theta-upper:before {
    content: 'Ⲑ';
  }

  .fa-iota-lower:before {
    content: 'ⲓ';
  }

  .fa-iota-upper:before {
    content: 'Ⲓ';
  }

  .fa-kappa-lower:before {
    content: 'ⲕ';
  }

  .fa-kappa-upper:before {
    content: 'Ⲕ';
  }

  .fa-lola-lower:before {
    content: 'ⲗ';
  }

  .fa-lola-upper:before {
    content: 'Ⲗ';
  }

  .fa-mei-lower:before {
    content: 'ⲙ';
  }

  .fa-mei-upper:before {
    content: 'Ⲙ';
  }

  .fa-nei-lower:before {
    content: 'ⲛ';
  }

  .fa-nei-upper:before {
    content: 'Ⲛ';
  }

  .fa-eksi-lower:before {
    content: 'ⲝ';
  }

  .fa-eksi-upper:before {
    content: 'Ⲝ';
  }

  .fa-o-lower:before {
    content: 'ⲟ';
  }

  .fa-o-upper:before {
    content: 'Ⲟ';
  }

  .fa-pi-lower:before {
    content: 'ⲡ';
  }

  .fa-pi-upper:before {
    content: 'Ⲡ';
  }

  .fa-ro-lower:before {
    content: 'ⲣ';
  }

  .fa-ro-upper:before {
    content: 'Ⲣ';
  }

  .fa-sima-lower:before {
    content: 'ⲥ';
  }

  .fa-sima-upper:before {
    content: 'Ⲥ';
  }

  .fa-tav-lower:before {
    content: 'ⲧ';
  }

  .fa-tav-upper:before {
    content: 'Ⲧ';
  }

  .fa-epsilon-lower:before {
    content: 'ⲩ';
  }

  .fa-epsilon-upper:before {
    content: 'Ⲩ';
  }

  .fa-fai-lower:before {
    content: 'ⲫ';
  }

  .fa-fai-upper:before {
    content: 'Ⲫ';
  }

  .fa-khe-lower:before {
    content: 'ⲭ';
  }

  .fa-khe-upper:before {
    content: 'Ⲭ';
  }

  .fa-epsi-lower:before {
    content: 'ⲯ';
  }

  .fa-epsi-upper:before {
    content: 'Ⲯ';
  }

  .fa-ou-lower:before {
    content: 'ⲱ';
  }

  .fa-ou-upper:before {
    content: 'Ⲱ';
  }

  .fa-shai-lower:before {
    content: 'ϣ';
  }

  .fa-shai-upper:before {
    content: 'Ϣ';
  }

  .fa-fay-lower:before {
    content: 'ϥ';
  }

  .fa-fay-upper:before {
    content: 'Ϥ';
  }

  .fa-khai-lower:before {
    content: 'ϧ';
  }

  .fa-khai-upper:before {
    content: 'Ϧ';
  }

  .fa-hori-lower:before {
    content: 'ϩ';
  }

  .fa-hori-upper:before {
    content: 'Ϩ';
  }

  .fa-janja-lower:before {
    content: 'ϫ';
  }

  .fa-janja-upper:before {
    content: 'Ϫ';
  }

  .fa-shema-lower:before {
    content: 'ϭ';
  }

  .fa-shema-upper:before {
    content: 'Ϭ';
  }

  .fa-ti-lower:before {
    content: 'ϯ';
  }

  .fa-ti-upper:before {
    content: 'Ϯ';
  }





